# Best Artworks of All Time
## Collection of Paintings of the 50 Most Influential Artists of All Time
### https://www.kaggle.com/ikarus777/best-artworks-of-all-time

I am going to solve the problem of recognizing a genre from a painting.
Since this task is educational, I can afford some tricks associated with the formation of a new dataset and data preprocessing to make my life easier.

In [1]:
import pandas as pd

In [2]:
artists = pd.read_csv('../data/artists.csv')
artists.head()

,id,name,years,genre,nationality,bio,wikipedia,paintings
0,0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani (Italian pronunciat...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193
1,1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky (Russian: Васи́...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88
2,2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,Diego María de la Concepción Juan Nepomuceno E...,http://en.wikipedia.org/wiki/Diego_Rivera,70
3,3,Claude Monet,1840 - 1926,Impressionism,French,Oscar-Claude Monet (; French: [klod mɔnɛ]; 14 ...,http://en.wikipedia.org/wiki/Claude_Monet,73
4,4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,René François Ghislain Magritte (French: [ʁəne...,http://en.wikipedia.org/wiki/René_Magritte,194

In [3]:
artists = artists.drop(['bio', 'wikipedia', 'years'], 1)
artists = artists.sort_values(by=['paintings'])
artists = artists.reset_index(drop=True)

In [4]:
for i, row in artists.iterrows():
    artists.at[i, 'name'] = artists.at[i, 'name'].replace(" ", "_")
(artists.head())

   id              name                   genre nationality  paintings
0  49   Jackson_Pollock  Abstract Expressionism    American         24
1  39  Eugene_Delacroix             Romanticism      French         31
2  41    Georges_Seurat      Post-Impressionism      French         43
3  38      Paul_Cezanne      Post-Impressionism      French         47
4  48      Michelangelo        High Renaissance     Italian         49

In [5]:
# artists_by_nationality = artists.drop(['genre'], 1)
# artists_by_nationality = artists_by_nationality.drop_duplicates(subset='nationality', keep='last')
# for i, row in artists_by_nationality.iterrows():
#     nationalities = artists_by_nationality.at[i, 'nationality'].split(',')
#     artists_by_nationality = artists_by_nationality.drop(i)
#     for nationality in nationalities:
#         # find nationality in "nationality" column
#         if (artists_by_nationality['nationality'][artists_by_nationality['nationality'] == nationality].empty):
#             row.at['nationality'] = nationality
#             artists_by_nationality = artists_by_nationality.append(row)
# artists_by_nationality = artists_by_nationality.sort_values(by=['paintings']).drop_duplicates(subset=['nationality'], keep='last').drop_duplicates(subset=['name'], keep='last')
# (artists_by_nationality.reset_index(drop=True))

In [6]:
artists_by_genre = artists.drop(['nationality'], 1)
artists_by_genre = artists_by_genre.drop_duplicates(subset='genre', keep='last')
for i, row in artists_by_genre.iterrows():
    genres = artists_by_genre.at[i, 'genre'].split(',')
    artists_by_genre = artists_by_genre.drop(i)
    for genre in genres:
        # find genre in "genre" column
        if (artists_by_genre['genre'][artists_by_genre['genre'] == genre].empty):
            row.at['genre'] = genre
            artists_by_genre = artists_by_genre.append(row)
artists_by_genre = artists_by_genre.sort_values(by=['paintings']).drop_duplicates(subset=['genre'], keep='last').drop_duplicates(subset=['name'], keep='last')
artists_by_genre[artists_by_genre.paintings >= 100].reset_index(drop=True)

    id               name                 genre  paintings
0    9       Gustav_Klimt           Art Nouveau        117
1   23  Giotto_di_Bondone     Proto Renaissance        119
2   11   Kazimir_Malevich           Suprematism        126
3    5      Salvador_Dali            Surrealism        139
4   26  Leonardo_da_Vinci      High Renaissance        143
5   24  Sandro_Botticelli     Early Renaissance        164
6   12     Mikhail_Vrubel             Symbolism        171
7   45        Andy_Warhol               Pop Art        181
8    0  Amedeo_Modigliani         Expressionism        193
9   22       Marc_Chagall           Primitivism        239
10  31          Rembrandt               Baroque        262
11  16     Francisco_Goya           Romanticism        291
12  19     Albrecht_Dürer  Northern Renaissance        328
13  13      Pablo_Picasso                Cubism        439
14  30        Edgar_Degas         Impressionism        702
15   8   Vincent_van_Gogh    Post-Impressionism        877

We have a dataset of 16 classes. From the classes we will choose 100 images for training and from the remaining 10 for validation.